@import "../core/base.scss";

*,*:before,*:after{
	@include boxSizing;
}

html, body {
	height: 100%;
}

body {
	background-color: #DFDFDF;
	font-family: $font;
	font-size: $font-size-base;
	color: darken($color-grey,20%);
}

main{
	background-color: #000;
}

a{
	text-decoration: none;
}

p{
	font-size: $font-size;
}

img{
	max-width: 100%;
}


.wrap{
	@include cf;
	@include center(1280px);
	padding: $padding-base;
}

.list{
	@extend %ul;
	@include cf;
}
