*,*:before,*:after{
	box-sizing: border-box;
}

html{
	font-size: $font-size-base;	
	height: 100%;
}

body {
	font-family: $font;
	height: 100%;
}

a{
	text-decoration: none;
}

p{
	font-size: $font-size;
}

img{
	max-width: 100%;
}


.wrap{
	
}
